.banner {
  background-size: cover;
  background-position: center top;
  height: 450px;
  color: white;
  padding-left: 5%;
}
.banner h1 {
  margin-top: 0%;
  text-align: left;
  padding-top: 100px;
}
.banner-but {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.4);
}
.banner-but-div {
  text-align: left;
}
.banner p {
  width: 30%;
  text-align: justify;
  height: 100px;
}
.banner-but:hover {
  color: black;
  background-color: rgba(220, 220, 220, 0.6);
  transition: all 0.2s;
}
